[build]
  base = "my-portfolio"
  command = "npm run build"
  publish = ".next"

[functions]
  node_bundler = "esbuild"

[[plugins]]
package = "@netlify/plugin-nextjs"


[[redirects]]
  from = "/*"
  to = "/"
  status = 200
