[build]
  base = "my-portfolio"
  command = "npm run build"
  publish = ".next"

[functions]
  node_bundler = "esbuild"

[[plugins]]
  package = "@netlify/next"

[[redirects]]
  from = "/*"
  to = "/"
  status = 200
